[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python src/app.py"
lint = "black src"
sort = "isort src"
qrc = "pyside6-rcc src/icons.qrc -o src/rc_icons.py"

[packages]
pyside6 = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
