#main {
  background-color: antiquewhite;
  margin: 0;
}

#entryComponent {
  background-color: beige;
  border-radius: 10;
}

#chooser {
  background-color: antiquewhite;
  height: 45;
}

#chooser:hover {
  background-color: blue;
}

#valueInput {
  font-size: 30px;
}

QComboBox {
  combobox-popup: 0;
}